.rtopVideoPlayerWrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.rtopVideoPlayerWrapper .rtopVideoPlayer {
	position: relative;
}

.rtopVideoPlayerWrapper .rtopVideoPlayer video {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}